
    <div class="container mt-5 mb-5" >
        <div class="row">
            
            <div class="col-md-12">
                    <p class="lead" style="margin-bottom:0px;padding-bottom:0px;font-size:10px;">SUPPORTING BUSINESSES</p>
                    <h5  class="mb-3" style="font-family: 'Montserrat';font-weight: 700;font-size: 48px;line-height: 50px;">Delivering <span class="changeColor">true value </span><br>in today's digital world</h5>
        
                <div class="card-deck mb-5" style="display:flex ;">
                    <div class="card mx-1" style="width: 25rem;display: flex;background-color: #f3f4f7;border-color: #C5E2FF;">
                        <div class="card-header" style="border-bottom: 0px;background-color: #f3f4f7;">
                            <img src="../../assets/section5-poly.png"  style="width:76px;height: 76px;" class="mb-3"/>
                            <h6 class="card-title">
                                BANKS & FINANCIAL INSTITUTIONS
                            </h6> 
                        </div>
                        <div class="card-body">
                        <p class="card-text">
                            We are dedicated to creating customized solutions for Banks, Financial Institutions, and other industry coporate bodied. We provide unfetterd access to our
                            APIs and documentation. We enable our enterprise clients to easily plug their existing technology stack into our frameworks. We also offer real-time transaction reports and analytics on request.
                        </p>   
                        </div>
                    </div>
                    <div class="card mx-1" style="width: 25rem;display: flex;background-color: #f3f4f7;border-color: #C5E2FF;">
                        <div class="card-header" style="border-bottom: 0px;background-color: #f3f4f7;">
                            <img src="../../assets/section5-biz.png"  style="width:76px;height: 76px;" class="mb-3"/>
                            <h6 class="card-title">
                                SMALL & MEDIUM BUSINESSES
                            </h6> 
                        </div>
                        <div class="card-body">
                        <p class="card-text">
                            We are committed to supporting growing businesses as they journey from ideation to demo day. Our retail Products
                            are designed to help offline and onlione businesses run like well oiled machines.Arca gives SMEs the freedon to take 
                            and collect payments in-store, online, and on the go.
                        </p>   
                        </div>
                    </div>
        
                    <div class="card mx-1" style="width: 25rem;display: flex;background-color: #f3f4f7;border-color: #C5E2FF;">
                        <div class="card-header" style="border-bottom: 0px;background-color: #f3f4f7;">
                            <img src="../../assets/section5-fintech.png"  style="width:76px;height: 76px;" class="mb-3"/>
                            <h6 class="card-title">
                                DEVELOPERS & FINTECHS
                            </h6> 
                        </div>
                        <div class="card-body">
                        <p class="card-text">
                            The future of tech and business is Africa. Our free API sandbox service is available to future-mind
                            developers who need to rapidly test their innovatice ideas. Our community is open to fintech startups that 
                            are looking for tools and resources to help them scale at home and away.
                        </p>   
                        </div>
                    </div>
                    
                </div>
            </div>
        
        
    </div>



    </div>
        