<app-section1></app-section1>
<app-section2></app-section2>
<app-section3></app-section3>
<app-section4></app-section4>
<app-section5></app-section5>
<app-section6></app-section6>
<app-section7></app-section7>
<app-section8></app-section8>

<!--<div class="container-fluid">
    <app-section4></app-section4>
    <div class="row section-5 bg-info pt-5 pb-5">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <h6>PRODUCTS & SERVICES</h6>
            <h2>Tailored to meet your business needs</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body pt-5 pb-5 px-5">
                        <div class="col-md-8">
                            <h5 class="card-title">
                                Terminal management system
                            </h5>
                            <p class="card-text">Arca TMS is a Terminal Management System (TMS) that manage POS terminals,
                                provide monitoring and analytics
                            </p>
                            <button type="button" class="btn btn-primary">Find Out More</button>

                        </div>
                        <div class="col-md-4">

                                <div class="hex" style="width:100px;height:130px;position: relative;left:300px;top:-120px;"></div>
                            </div>
                        
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body pt-5 pb-5 px-5">
                        <div class="col-md-8">
                            <h5 class="card-title">
                                Terminal management system
                            </h5>
                            <p class="card-text">Arca TMS is a Terminal Management System (TMS) that manage POS terminals,
                                provide monitoring and analytics
                            </p>
                            <button type="button" class="btn btn-primary">Find Out More</button>

                        </div>
                        <div class="col-md-4">

                                <div class="hex" style="width:100px;height:130px;position: relative;left:300px;top:-120px;"></div>
                            </div>
                        
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body pt-5 pb-5 px-5">
                        <div class="col-md-8">
                            <h5 class="card-title">
                                Terminal management system
                            </h5>
                            <p class="card-text">Arca TMS is a Terminal Management System (TMS) that manage POS terminals,
                                provide monitoring and analytics
                            </p>
                            <button type="button" class="btn btn-primary">Find Out More</button>

                        </div>
                        <div class="col-md-4">

                                <div class="hex" style="width:100px;height:130px;position: relative;left:300px;top:-120px;"></div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row section-6 mb-5">
        <div class="col-md-1"></div>
        <div class="col-md-5 col-lg-5" style="margin-top: 250px;margin-right:100px;">
            <p>SECURITY & ACCREDITATION</p>
            <h1>Backed by recognized <br>global security standards</h1>
        </div>

        <div class="col-md-4 col-lg-4 mx-5">
            <section class="hexagon-gallery">
            <div class="hex" style="width:200px;height:230px;border-style:dotted;border-width: 1px;">
                <img src="../asset/pci.png" />
            </div>
            <div class="hex" style="width:200px;height:230px;border-style:dashed;border-width: 1px;">
                <img src="../asset/pci.png" />
            </div>
            <div class="hex" style="width:200px;height:230px;border-style:dashed;border-width: 1px;">
                <img src="../asset/pci.png" />
            </div>
            <div class="hex" style="width:200px;height:230px;border-style:dashed;border-width: 1px;">
                <img src="../asset/pci.png" />
            </div>
        </section>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row section-7">
       
        <div class="col-md-12">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <h1 class="display-5 fw-bold">Discover customizable <i class="differentColor">Payments solutions</i> for your everyday <i class="differentColor">business needs</i></h1>
                        <button class="btn btn-primary pt-3 pb-3" type="button">Contact us</button>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <section >
                            <div class="hex text-center">
                                <img src="https://images.pexels.com/photos/1421264/pexels-photo-1421264.jpeg?cs=srgb&dl=aerial-aerial-photo-aerial-photography-1421264.jpg&fm=jpg" alt="some">
                            </div>
                        </section>
                    </div>
                </div>
        
            </div>
          </div>
          </div>
          
    </div>

</div>-->

  