<div class="container-fluid px-5 mt-5" >
    <div class="row pt-5" style="background-color: #E3F1FF;height:650px;">
        <div class="col-md-1"></div>
        <div class="col-md-5" style="margin-top:150px;">
              <h1 style="font-family:'Montserrat';font-style:normal;font-weight:1800px !important;">Transaction processing<br> and switching</h1>
              <p>As a multi-card Third-Party Processor(TPP),ARCA has implemented a one-stop (robust,flexible,scalable) switching<br>
              and processing platform with secure infrastruture. Wherever<br> you play - Financial Institution(FI) or Non-Financial Institution<br>
              (NFI),our solutions are built to be adaptable, offering greater <br>control over your transactions to enable you to focus on <br>delivering the core high-value services
              in your field<br>
          </p>
          <button class="btn btn-primary" style="border-radius:0px ;">Contact Us</button>
        </div>
        <div class="col-md-5">
          <img src="../../assets/upper-body 1.png" style="width:258.3px;height:623.82px;"/>
          <img src="../../assets/upper-body 1.png" style="width:258.3px;height:623.82px;position: relative;top:-550px;left:300px"/>
        </div>
        <div class="col-md-1"></div>
    </div>
  </div>
  <div class="container mt-5 mb-5" >
      <div class="row" style="margin-top:250px;">
          <div class="col-md-6 pt-5 pb-5" style="background-color: #E3F1FF;border-radius: 10px;">
              <img src="../../assets/upper-body 1.png" style="width:233.3px;height:563.2px;display: block;margin-left: auto;margin-right: auto;"/>
          </div>
          <div class="col-md-6" style="padding-top:170px ;padding-left:70px;">
              <p>As a payment processor,irrespective of your business requirements, be it: Virtual/Prepaid, Debit or Credit card Issuing service, we provide easy and <br>
              quick card issuing services that empower businesses and innovators to disrupt their world.With access to our API, you can instantly issue cards in<br>
              conjunction with our partners that promote your brand and serve your<br> customers with cutting-edge, cloud-ready, and multi-currency support technology.</p>
              <p>We offer innovative and flexible payment integration and transaction services such as Acquirer Processing and Account-to-Account Payment</p>
          </div>
      </div>
  </div>
  <div class="container">
      <h2>OUR PLATFORM SUPPORT THE FOLLOWING:</h2>
      <div class="row mb-3">
          <div class="col-sm-4">
              <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;">
                <div class="card-body">
                  <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                  <p class="card-text  mt-1 px-4">PREPAID CARDS</p>
                  <p style="font-size:10px ;" class="mx-3">virtual and physical cards</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;">
                <div class="card-body">
                  <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                  <p class="card-text  mt-1 px-4">DEBIT CARDS</p>
                  <p style="font-size:10px ;" class="mx-3">Physical cards</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card pt-4 pb-3" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;">
                <div class="card-body">
                  <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                  <p class="card-text mt-2 px-4">CARD MANAGEMENT</p>
                </div>
              </div>
            </div>
      </div>
  
      <div class="row mb-3">
          <div class="col-sm-3">
              <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;">
                <div class="card-body">
                  <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                  <p class="card-text  mt-2 px-4">BALANCE HOLDING</p>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;">
                <div class="card-body">
                  <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                  <p class="card-text  mt-2 px-4">3D SECURITY</p>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;">
                <div class="card-body">
                  <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                  <p class="card-text mt-2 px-4">CARD CONTROL</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card " style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;">
                <div class="card-body">
                  <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                  <p class="card-text mt-2 px-4">CARD/SPENDING LIMIT</p>
                </div>
              </div>
            </div>
      </div>
  
      <div class="row mb-3">
          <div class="col-sm-4">
              <div class="card pt-3 pb-3" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;">
                <div class="card-body">
                  <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2 mt-3" />
                  <p class="card-text  mt-2 px-4">Instant issuance including export, personalization, and validation of cards</p>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;">
                <div class="card-body">
                  <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2 mt-4" />
                  <p class="card-text  mt-2 px-4">Instant card restriction by channel,<br> transaction type 
                  or merchantt issuance <br>including export, personalization, and <br> validation of cards</p>      
                </div>
              </div>
            </div>
      </div>
       
  </div>
  