<div class="container-fluid px-5 mt-5 mb-5" >
    <div class="row pt-5" style="background-color: #E3F1FF;height:650px;">
        <div class="col-md-1"></div>
        <div class="col-md-5" style="margin-top:150px;">
              <h1 style="font-family:'Montserrat';font-style:normal;font-weight:1800px !important;">Issuing</h1>
              <p>The ARCA Issuing product provides flexibility to issue both physical & virtual cards to businesses so they can
                 meet customers' demand. The system empowers businesses to approve transactions thereby giving them control over 
                 fraud risk and better cash management for real, bottom-line results by providing the technology, adaptability and 
                 service to businesses to meet their customers’ needs. </p>
          <button class="btn btn-primary" style="border-radius:0px ;">Contact Us</button>
        </div>
        <div class="col-md-5">
          <img src="../../assets/issuing1.png" style="width:307px;position: relative;left:150px"/>
          <img src="../../assets/issuing2.png" style="width:407px;position: relative;top:-450px;left:300px"/>
        </div>
        <div class="col-md-1"></div>
    </div>
  </div>
 
  <div class="container mt-5">
      <h2><span class="changeColor">TRANSACTION SETS</span> THROUGH API CALL IN ISSUING INCLUDES:</h2>  
      <div class="row mb-3">
          <div class="col-sm-3">
              <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 2px 0px 0px 0px;">
                <div class="card-body">
                  <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                  <p class="card-text  mt-2 px-4">ISSUE CARDS</p>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 2px 0px 0px 0px;">
                <div class="card-body">
                  <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                  <p class="card-text  mt-2 px-4">EXPORT, PERSONALIZE AND VALIDATE CARDS</p>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 2px 0px 0px 0px;">
                <div class="card-body">
                  <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                  <p class="card-text mt-2 px-4">CHOOSE PIN</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card " style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 2px 0px 0px 0px;">
                <div class="card-body">
                  <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                  <p class="card-text mt-2 px-4">CHANGE VIRTUAL PIN</p>
                </div>
              </div>
            </div>
      </div>
  
      <div class="row mb-3">
        <div class="col-sm-3">
            <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 2px 0px 0px 0px;">
              <div class="card-body">
                <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                <p class="card-text  mt-2 px-4">REPORT STOLEN CARD</p>
                
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 2px 0px 0px 0px;">
              <div class="card-body">
                <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                <p class="card-text  mt-2 px-4">HOTLIST CARD</p>
                
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 2px 0px 0px 0px;">
              <div class="card-body">
                <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                <p class="card-text mt-2 px-4">REPORT DAMAGED CARD</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card " style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 2px 0px 0px 0px;">
              <div class="card-body">
                <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                <p class="card-text mt-2 px-4">SUSPEND/FREEZE CARD</p>
              </div>
            </div>
          </div>
    </div>


    <div class="row mb-3">
      <div class="col-sm-3">
          <div class="card pb-2 pt-5" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 2px 0px 0px 0px;">
            <div class="card-body">
              <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
              <p class="card-text  mt-2 px-4 mb-5">SET SPENDING AND CARD LIMIT</p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card pb-3" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 2px 0px 0px 0px;">
            <div class="card-body">
              <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
              <p class="card-text  mt-2 px-4">RESTRICT CARD</p>
              <p class="mb-5">by channel(e.g Web,POS,ATM)</p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 2px 0px 0px 0px;">
            <div class="card-body">
              <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
              <p class="card-text mt-2 px-4">RESTRICT CARD</p>
              <P>by transaction type(e.g purchase,cashbacks,balance enquiry etc)</P>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card pt-4 pb-4" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 2px 0px 0px 0px;">
            <div class="card-body">
              <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
              <p class="card-text mt-2 px-4 mb-3">RESTRICT CARD</p>
              <P>by merchant type</P>
            </div>
          </div>
        </div>
  </div>
       
  </div>
  