<div class="jumbotron text-center">
    <div class="container mt-5" >
        <h1 class="jumbotron-heading mb-2" style="font-weight: bolder;line-height: 67px;color: #101828;font-size: 64px;">Grow your <span class="changeColor">career</span> with Arca</h1>
        <p class="lead mb-3" style="font-size:17px;">We are currently building and improving on the future of seamless payments<br>
            in Africa and globally. Come join us on this mission.</p>
        <button class="btn btn-primary mb-5" style="border-radius:0px;">See Open Positions</button>    
    </div>
</div>
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-4">
            <img src="../../assets/careers1.png" />
        </div>
        <div class="col-md-4">
            <img src="../../assets/careers2.png" />
        </div>
        <div class="col-md-4" >
            <img src="../../assets/careers3.png"   class="img img-fluid" style="height:379px !important ;"/>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row">
        <h3 class="text-center"><span class="changeColor">PERKS</span> OF WORKING WITH US</h3>
        <div class="col-md-3">
            <h5>HMO</h5>
        </div>
        <div class="col-md-3">
            <h5>PENSION</h5>
        </div>
        <div class="col-md-3">
            <h5>FLEXIBLE WORK HOURS</h5>
        </div>
        <div class="col-md-3">
            <h5>PRO WORK TOOLS</h5>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color:#E3F1FF ;">
    <div class="row">
        <h2 class="text-center">Open<span class="changeColor"> Positions</span></h2>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            
           
            <div class="container mb-5">
                <h4>Product</h4>
              <div id="accordion">
              
                <div class="card">
                  <div class="card-header">
                    <a class="card-link accordion-title" data-toggle="collapse" href="#collapseOne" style="color:gray;">
                      PRODUCT DESIGNER
                    </a>
                  </div>
                  <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                       <p> Lorem ipsum dolor sit amet consectetur. Luctus dignissim risus egestas nullam. 
                        Mattis cursus <br>auctor nec cras ullamcorper egestas odio. 
                        Tristique ornare porttitor ultrices est est velit tellus<br> vulputate vitae. 
                        Nunc faucibus aliquet massa massa. Lectus leo tincidunt gravida pulvinar <br>
                        tristique ac elit sed aliquet.Ac id massa lorem est tempor sit purus cras. Vulputate habitasse nisl.</p>
                        <button class="btn btn-primary">Learn More</button>
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed card-link accordion-title" data-toggle="collapse" href="#collapseTwo" style="color:gray;">
                     FRONTEND DEVELOPER
                    </a>
                  </div>
                  <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      Lorem ipsum..
                    </div>
                  </div>
                </div>
                      
              </div>
              </div>

            
              <div class="container MB-5">
                <h5>Marketing</h5>
              <div id="accordion">
              
                <div class="card">
                  <div class="card-header">
                    <a class="card-link accordion-title" data-toggle="collapse" href="#collapseOne" style="color:gray;">
                     <h6>MARKETING LEAD</h6> 
                    </a>
                  </div>
                  <div id="collapseOne" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                       <p> Lorem ipsum dolor sit amet consectetur. Luctus dignissim risus egestas nullam. 
                        Mattis cursus <br>auctor nec cras ullamcorper egestas odio. 
                        Tristique ornare porttitor ultrices est est velit tellus<br> vulputate vitae. 
                        Nunc faucibus aliquet massa massa. Lectus leo tincidunt gravida pulvinar <br>
                        tristique ac elit sed aliquet.Ac id massa lorem est tempor sit purus cras. Vulputate habitasse nisl.</p>
                        <button class="btn btn-primary">Learn More</button>
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed card-link accordion-title" data-toggle="collapse" href="#collapseTwo" style="color:gray;">
                     <h6>MARKETING ASSOCIATE</h6>
                    </a>
                  </div>
                  <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      Lorem ipsum..
                    </div>
                  </div>
                </div>
                      
              </div>
              </div>

         <div class="row mt-5">
            <h6 class="text-center">Not Seen Your Preferred Position?</h6> 
             <div class="col-md-4"></div>
             <div class="col-md-4 text-center">
                <button class="btn btn-primary text-center mb-5" style="border-radius:0px;">Send Us an Application</button>    
             </div>
             <div class="col-md-4"></div>
         </div>
        
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="container mb-5">
    <div class="row mt-5">
        <h3 class="text-center mt-3 mb-3">Send Us an <span class="changeColor">Application</span></h3>
        <div class="col-md-4"></div>
        <div class="col-md-4">
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Full Name</label>
              <input type="fullName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Please enter your Firstname & Lastname">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Email Address</label>
              <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Please enter your email address">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Link to Portolio(optional)</label>
                <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Please enter a link to your online portfolio">
            </div>
            <div class="form-group mb-2">
                <label for="exampleInputPassword1">Upload Resume</label>
                <input type="file" class="form-control" id="exampleInputPassword1" placeholder="Please enter a link to your online portfolio">
            </div>
            <button type="submit" class="btn btn-primary btn-block mb-3" style="width:100%;">Submit</button>
          </form>
         </div>
        <div class="col-md-4"></div>
    </div>
</div>


