


<!--<div class="container-fluid">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>-->













<div class="container-fluid pt-4">
    <div class="row">
        <div class="col-md-2">
            <img src="../../assets/arca-logo.png"  style="width:100px;margin-left:20px"/>
        </div>
        <div class="col-md-7 text-center">
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark mx-3" href="#">Home</a>
                <a class="p-2 text-dark mx-3 dropdown" href="# ">
                  <a class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" style="color:#747678">
                      About Us
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="border-radius: 0px;">
                      <a routerLink="about-us" style="color:gray;"  class="dropdown-item" type="button" style="color:gray;" ><img src="../../assets/arca-logo.png" style="float:left ;width:40px;" class="mx-2 mt-1"/>Our Profile</a>
                      <a routerLink="management-team"  style="color:gray;" class="dropdown-item" type="button">Management Team</a>
                      <a class="dropdown-item" style="color:gray;" type="button" >Board of Directors</a>
                    </div>
              </a>
                <a class="p-2 text-dark mx-3 dropdown" href="# ">
                    <a class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown">
                        Products & Services
                    </a>
                    <div class="dropdown-menu pt-5 pb-5" aria-labelledby="dropdownMenu2" style="width:700px;transform: translate3d(-180px,27px,0px) !important;border-radius: 0px;">
                      <div class="row">
                        <div class="col-md-6">
                          <h6 class="mx-3">PRODUCTS</h6>
                          <a routerLink="terminal-mgt" style="color:gray;" class="dropdown-item" type="button">Terminal Management System</a>
                          <a routerLink="stored-value-account" style="color:gray;"   class="dropdown-item" type="button">Stored Value Account</a>
                          <a routerLink="account-switch" style="color:gray;"   class="dropdown-item" type="button">Account to Account Switch</a>
                          <a routerLink="payment-gateway" style="color:gray;"   class="dropdown-item" type="button">Arca Payment Gateway</a>
                          <a routerLink="card-mgt" style="color:gray;"   class="dropdown-item" type="button">Card Management</a>
                          <a routerLink="arca-pos" style="color:gray;"   class="dropdown-item" type="button">Arca POS</a>
                        </div>
                        <div class="col-md-6">
                          <h6 class="mx-3" style="font-weight: bold ;">SERVICES</h6>
                          <a routerLink="transaction-processiong" style="color:gray;"  class="dropdown-item" type="button">Transaction Processing & Switching</a>
                          <a routerLink="ptsp" style="color:gray;"  class="dropdown-item" type="button">Payment Terminal Service Provider</a>
                          <a routerLink="issuing" style="color:gray;"   class="dropdown-item" type="button">Issuing</a>
                          <a routerLink="ecommerce" style="color:gray;"   class="dropdown-item" type="button">Ecommerce</a>
                        </div>
                      </div>
                    </div>
                </a>
                <a class="p-2 text-dark mx-3" routerLink="careers" style="color:gray;"  >Career</a>
              </nav> 
        </div>
        <div class="col-md-3">
            <a class="btn btn-outline-primary mx-1" href="#">Visit ArcaPG</a>
            <a class="btn btn-primary" routerLink="about-us" style="color:#fff;"  >Contact Us</a>
        </div>
    </div>
    
  </div>
 