
<div class="container-fluid pt-4">
    <div class="row">
        <div class="col-md-2">
            <img src="../../assets/arca-logo.png"  style="width:100px;margin-left:20px"/>
        </div>
        <div class="col-md-7 text-center text-center">
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark mx-3" href="#">Home</a>
                <a class="p-2 text-dark mx-3 dropdown" href="# ">
                  <a class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" style="color:#747678">
                      About Us
                  </a>
                  <div class="dropdown-menu pt-4 pb-4" aria-labelledby="dropdownMenu2" style="border-radius: 0px;width:250px;">
                      <a routerLink="about-us" style="color:gray;"  class="dropdown-item" type="button" style="color:gray;" ><img src="../../assets/ourprofile-menu.png" style="float:left ;width:20px;" class="mx-2"/>Our Profile</a>
                      <a routerLink="management-team"  style="color:gray;" class="dropdown-item" type="button"><img src="../../assets/management-team-menu.png" style="float:left ;width:20px;" class="mx-2"/>Management Team</a>
                      <a class="dropdown-item" style="color:gray;" type="button" ><img src="../../assets/management-team-menu.png" style="float:left ;width:20px;" class="mx-2"/>Board of Directors</a>
                    </div>
              </a>
                <a class="p-2 text-dark mx-3 dropdown" href="# ">
                    <a class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown">
                        Products & Services
                    </a>
                    <div class="dropdown-menu pt-5 pb-5" aria-labelledby="dropdownMenu2" style="width:800px;transform: translate3d(-180px,27px,0px) !important;border-radius: 0px;">
                      <div class="row">
                        <div class="col-md-6">
                          <h6 class="mx-3 mb-3" style="font-weight:bold ;">PRODUCTS</h6>
                          <a routerLink="terminal-mgt" style="color:gray;" class="dropdown-item" type="button"><img src="../../assets/terminal-icon.png" style="float:left ;width:20px;position: relative;" class="mx-2"/>Terminal Management System</a>
                          <a routerLink="stored-value-account" style="color:gray;"   class="dropdown-item" type="button"><img src="../../assets/stored-value-menu.png" style="float:left ;width:20px;position: relative;" class="mx-2"/>Stored Value Account</a>
                          <a routerLink="account-switch" style="color:gray;"   class="dropdown-item" type="button"><img src="../../assets/account-switch-menu.png" style="float:left ;width:20px;position: relative;" class="mx-2"/>Account to Account Switch</a>
                          <a routerLink="payment-gateway" style="color:gray;"   class="dropdown-item" type="button"><img src="../../assets/pg-menu.png" style="float:left ;width:20px;position: relative;" class="mx-2"/>Arca Payment Gateway</a>
                          <a routerLink="card-mgt" style="color:gray;"   class="dropdown-item" type="button"><img src="../../assets/card-mgt-menu.png" style="float:left ;width: 20px;position: relative;" class="mx-2"/>Card Management</a>
                          <a routerLink="arca-pos" style="color:gray;"   class="dropdown-item" type="button"><img src="../../assets/arca-pos-menu.png" style="float:left ;width:15px;position: relative;" class="mx-2"/>Arca POS</a>
                        </div>
                        <div class="col-md-6">
                          <h6 class="mx-3 mb-3" style="font-weight: bold ;">SERVICES</h6>
                          <a routerLink="transactionProcessing" style="color:gray;"  class="dropdown-item" type="button"><img src="../../assets/card-mgt-menu.png" style="float:left ;width:20px;" class="mx-2"/>Transaction Processing & Switching</a>
                          <a routerLink="ptsp" style="color:gray;"  class="dropdown-item" type="button"><img src="../../assets/arca-pos-menu.png" style="float:left ;width:20px;" class="mx-2"/>Payment Terminal Service Provider</a>
                          <a routerLink="issuing" style="color:gray;"   class="dropdown-item" type="button"><img src="../../assets/card-mgt-menu.png" style="float:left ;width:20px;" class="mx-2"/>Issuing</a>
                          <a routerLink="ecommerce" style="color:gray;"   class="dropdown-item" type="button"><img src="../../assets/ecommerce-menu.png" style="float:left ;width:20px;" class="mx-2"/>Ecommerce</a>
                        </div>
                      </div>
                    </div>
                </a>
                <a class="p-2 text-dark mx-3" routerLink="careers" style="color:gray;"  >Career</a>
              </nav> 
        </div>
        <div class="col-md-3">
            <a class="btn btn-outline-primary mx-1" href="#">Knowledege Base</a>
            <a class="btn btn-primary" routerLink="contact-us" style="color:#fff;"  >Contact Us</a>
        </div>
    </div>
    
  </div>
 