<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white pt-5"
            style="background-color: #006BD6"
            >
      <!-- Grid container -->
      <div class="container-fluid p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                Company name
              </h6>
              <h5>
                Stay updated on our latest stories
            </h5>
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control mt-2 mb-2" placeholder="Enter your email">
                    </div>
                    <button type="submit" class="btn btn-primary pt-2 pb-2 ">Subscribe</button>
                </form>
            </div>
                <div class="col-md-2"></div>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Quick Links</h6>
              <p>
                <a class="text-white">Home</a>
              </p>
              <p>
                <a class="text-white">About Us</a>
              </p>
              <p>
                <a class="text-white">Products & Services</a>
              </p>
              <p>
                <a class="text-white">Careers</a>
              </p>
              <p>
                <a class="text-white">Arca PG</a>
              </p>

              <address class="mt-5">
                  <strong>Lagos Office</strong>
                  <p>8A, Bendel close,Victria island, Lagos Nigeria <br>+2347002722729</p>
              </address>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                Legal
              </h6>
              <p>
                <a class="text-white">Your Account</a>
              </p>
              <h6 class="mt-5 mb-5">
                General Inquiries
              </h6>
              <p>
                <a class="text-white">info@arca.network</a>
              </p>
             
              <address class="mt-5">
                <strong>Uk Office</strong>
                <p>Elsie Whiteley Innovation Centre, Office 1Hopwood Lane,Halifax,England, HX1 5ER <br>+447310183796</p>
            </address>
            </div>
  
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
           
            <!-- Grid column -->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
  
        <hr class="my-3">
  
        <!-- Section: Copyright -->
        <section class="p-3 pt-0">
          <div class="row d-flex align-items-center">
            <div class="col-md-3">
              
            </div>
            <!-- Grid column -->
            <div class="col-md-6 col-lg-6 text-center text-md-start">
              <!-- Copyright -->
              <div class="p-3 text-center">
                <a class="text-white text-center" href="#">Copyright Arca Payment Company Limited 2022 All Rights Reserved.</a >
              </div>
              <!-- Copyright -->
            </div>
            <!-- Grid column -->
                          <div class="col-md-3">
                
            </div>
            <!-- Grid column -->
            
            <!-- Grid column -->
          </div>
        </section>
        <!-- Section: Copyright -->
      </div>
      <!-- Grid container -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->