<div class="container pt-5 pb-5" style="background-color:#E3F1FF;max-width: 100%;">
    <div class="col-md-6 col-sm-6 pb-5" style="float:left;">     
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-9">
            <p style="font-family:'Montserrat';font-style:normal;font-weight:500;font-size:14px;line-height:17px;color:#101828;">WHO WE ARE</p>
            <h3 style="font-weight:700 ;line-height:50px;font-size:48px;">Powered by innovation <br>empowering innovators</h3>
            <p>We aim to foster the open banking ecosystem in Nigeria by connecting<br> 
            the next generation of unicorn founders to accessible payments platforms.</p>
           <p> We are building tools to empower business owners and <br>make it easier for them to get paid online and offline</p>
            
            <button class="btn btn-primary">More About Us</button>
          </div>
      </div>
    
       

        </div>
        <div class="col-md-6 col-sm-6" style="display: flex ;" >
            <img src="../../assets/section4-poly.png" style="width:60%;position:relative;left:110px">
        </div>
</div>