<div class="container">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">KNOWLEDGE BASE</h5>
              <p class="card-text">Some quick example text to build on the card title 
                  and make up the bulk of the card's content.</p>
              <button href="#" class="card-link">Go to Knowledge base</button>
            </div>
          </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-2"></div>
</div>
</div>
