<div class="container mb-5">
    <div class="row mb-5">
        <div class="col-md-6">
            <h1 style="font-weight:bold;">Who We Are</h1>
            <p>
                We are building next-generation products and services for Africa’s<br>
                 thriving payments ecosystem. Arca is on a mission to enable<br> financial institutions, banks, and SMEs to collect and process<br>
                 payments from their customers.
            </p>
            <p>
                We are building tools to empower business owners and make it <br>easier for them to get paid online and offline. 
                Our suite of products <br>
                and solutions are designed to function seamlessly in our current<br> fragmented payments ecosystem. 
                We are working to connect<br> individuals, financial institutions, banks, and businesses to Africa’s<br> digital economy.
            </p>
            <button class="btn btn-primary" style="border-radius:0px ;">See Tools to Grow Your Business</button>
        </div>
        <div class="col-md-6">
            <section class="hexagon-gallery">
                <div class="hex"><img src="https://images.pexels.com/photos/1421264/pexels-photo-1421264.jpeg?cs=srgb&dl=aerial-aerial-photo-aerial-photography-1421264.jpg&fm=jpg" alt="some"></div>
                <div class="hex"></div>
                <div class="hex"></div>
                <div class="hex"></div>
                <div class="hex"></div>
                <div class="hex"></div>
                <div class="hex"></div>
                <div class="hex"></div>
                <div class="hex"></div>
                <div class="hex"></div>
              </section>
        </div>
    </div>
</div>
<div class="container-fluid pt-5 mb-5 pb-5" style="background-color:#006BD6;">
    <div class="row mt-5 mb-5">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="card px-5 pb-5" style="border-radius: 0px;">
                <img src="../../assets/ourvision.png" class="img img-fluid mx-2 mt-3" style="width:76px;height:auto;">
                <h5 class="card-title">OUR VISION</h5>
                <p class="card-body">
                    Our vision is to become Africa's premier payment services <br>
                    platform, fostering financial inclusion, continuous <br>
                    improvement and innovation, actively shaping the future <br>
                    of Financial Services throughout the continent.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card px-5 pb-4" style="border-radius: 0px;">
                <img src="../../assets/ourmisssion.png" class="img img-fluid mx-2 mt-5 mb-3" style="width:76px;height:auto;">
                <h5 class="card-title">OUR MISSION</h5>
                <p class="card-body">
                    Our purpose is to create a feature rich, financial solutions<br>
                  & services ecosystem, delivered through a open and <br>
                  flexible digital platforms
                </p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="container mt-3 mb-5">
    <div class="row">
        <div class="col-md-6">
            <img src="../../assets/thought.png" class="img img-fluid" style="border-radius: 0px !important;" />
        </div>
        <div class="col-md-6">
            <h6>CORE VALUES</h6>
            <h2>We uphold certain<br> <span class="changeColor">principal values</span></h2>
            <div class="card mb-2" style="background-color:#F2F4F7;border-width:0px 0px 0px 3px;border-color:#006BD6">
                <div class="row mt-4 px-3">
                    <div class="col-md-2">
                        <img src="../../assets/ourmisssion.png" style="width:76px;" />
                    </div>
                    <div class="col-md-10">
                        <h6 style="margin-bottom:-10px ;font-weight: bold;">
                            EXCELLENCE
                        </h6>
                        <p class="card-body" style="margin-left: -20px;">
                            Excellence is top priority in ARCA as we deliver quality and value to all our customers
                        </p>
                    </div>
                </div>
            </div>

            <div class="card mb-2" style="background-color:#F2F4F7;border-width:0px 0px 0px 3px;border-color:#006BD6">
                <div class="row mt-4 px-3">
                    <div class="col-md-2">
                        <img src="../../assets/ourmisssion.png" style="width:76px;" />
                    </div>
                    <div class="col-md-10">
                        <h6 style="margin-bottom:-10px;font-weight: bold;">
                            CUSTOMER FOCUS
                        </h6>
                        <p class="card-body" style="margin-left: -20px;">
                            Customer expectations always come first as the overall customer experience is most important at all levels
                        </p>
                    </div>
                </div>
            </div>

            <div class="card mb-2" style="background-color:#F2F4F7;border-width:0px 0px 0px 3px;border-color:#006BD6">
                <div class="row mt-4 px-3">
                    <div class="col-md-2">
                        <img src="../../assets/ourmisssion.png" style="width:76px;" />
                    </div>
                    <div class="col-md-10">
                        <h6 style="margin-bottom:-10px;font-weight: bold;">
                            INNOVATION
                        </h6>
                        <p class="card-body" style="margin-left: -20px;">
                            We constantly welcome new ideas to fit the market and most especially to satisfy the customer
                        </p>
                    </div>
                </div>
            </div>
            <div class="card mb-2" style="background-color:#F2F4F7;border-width:0px 0px 0px 3px;border-color:#006BD6">
                <div class="row mt-4 px-3">
                    <div class="col-md-2">
                        <img src="../../assets/ourmisssion.png" style="width:76px;" />
                    </div>
                    <div class="col-md-10">
                        <h6 style="margin-bottom:-10px;font-weight: bold;">
                            TEAMWORK
                        </h6>
                        <p class="card-body" style="margin-left: -20px;">
                            Teamwork is everything as we strive to achieve a common goal
                        </p>
                    </div>
                </div>
            </div>

            <div class="card mb-2" style="background-color:#F2F4F7;border-width:0px 0px 0px 3px;border-color:#006BD6">
                <div class="row mt-4 px-3">
                    <div class="col-md-2">
                        <img src="../../assets/ourmisssion.png" style="width:76px;" />
                    </div>
                    <div class="col-md-10">
                        <h6 style="margin-bottom:-10px;font-weight: bold;">
                            CANDOR IN COMMUNICATION
                        </h6>
                        <p class="card-body" style="margin-left: -20px;">
                            Communication is always open, clear and sincere to help achieve great
                             team performance and professional growth
                        </p>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</div>
<div class="container">
    <div class="row mb-5 mt-5 pt-5">
        <h5 class="text-center" style="font-size:14px;font-weight:500;">TESTED & TRUSTED BY</h5>
        <div class="col-md-2" style="display:flex;justify-content:center;">
            <img src="../../assets/access.png"  class="img-fluid" style="width:160px;height: 40px;"/>
        </div>
        <div class="col-md-2" style="display:flex;justify-content:center;">
            <img src="../../assets/wema.png"  class="img-fluid" style="width:80px;height: 45px;"/>
        </div>
        <div class="col-md-2" style="display:flex;justify-content:center;">
            <img src="../../assets/flutterwave.png"  class="img-fluid" style="width:170px;height: 30px;margin-top: 15px;"/>
        </div>
        <div class="col-md-2 mt-2" style="display:flex;justify-content:center;">
            <img src="../../assets/gtbank.png"  class="img-fluid" style="width:40px;height: 40px;"/>
        </div>
        <div class="col-md-2" style="display:flex;justify-content:center;">
            <img src="../../assets/fairmoney.png"  class="img-fluid" style="width:120px;height: 20px;margin-top:17px;"/>
        </div>
        <div class="col-md-2" style="display:flex;justify-content:center;">
            <img src="../../assets/providus.png"  class="img-fluid" style="width:95px;height: 40px;"/>
        </div>
       
    </div>
</div>
<div class="container-fluid mb-5 pb-5 pt-5" style="background-color: #e3f1ff;">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row">
                <h6 class="text-center">OUR STORIES</h6>
                <h2 class="text-center mb-4">We also know how to have <span class="changeColor">fun</span></h2>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;border-radius: 0px;">
                    <img src="../../assets/fun1.png" class="card-img-top" alt="..." style="border-radius: 0px;">
                     <div class="card-body">
                     <p >July 17,2022</p>
                     <p class="card-text" style="font-weight:bold ;">Mid Year Party 2022</p>
                    </div>
                    </div>
                </div>
        
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;border-radius: 0px;">
                    <img src="../../assets/fun1.png" class="card-img-top" alt="..." style="border-radius: 0px;">
                    <div class="card-body">
                        <p >July 17,2022</p>
                        <p class="card-text" style="font-weight:bold ;">Arca End of Year Beach Hangout 2021
                        </p>
                    </div>
                    </div>
                </div>
        
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;border-radius: 0px;">
                    <img src="../../assets/fun1.png" class="card-img-top" alt="..." style="border-radius: 0px;">
                    <div class="card-body">
                        <p >July 17,2022</p>
                        <p class="card-text" style="font-weight:bold ;">Mid-Year TGIF 2021
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
   
</div>