<div class="container-fluid px-5 mt-5" >
    <div class="row pt-5" style="background-color: #E3F1FF;height:650px;">
        <div class="col-md-1"></div>
        <div class="col-md-5" style="margin-top:150px;">
              <h1 style="font-family:'Montserrat';font-style:normal;font-weight:1800px !important;">Ecommerce</h1>
              <p>Our e-commerce platform offers a secure, unified layer to enable,<br> optimize, and analyze your digital payments. That gives you the <br>
                flexibility to adapt as your payments strategy evolves and your<br>
                 business grows.
          </p>
          <button class="btn btn-primary" style="border-radius:0px ;">Contact Us</button>
        </div>
        <div class="col-md-5 mx-5">
          <img src="../../assets/ecommerce.png" style="width:554px;height:554px;border-radius: 10px;" class="mx-5"/>
         
        </div>
        <div class="col-md-1"></div>
    </div>
  </div>
  <div class="container  mb-5" >
      <div class="row" style="margin-top:250px;">
          <div class="col-md-6 pt-5 pb-5" style="background-color: #E3F1FF;border-radius: 10px;">
              <img src="../../assets/eccomerce2.png" style="display: block;margin-left: auto;margin-right: auto;position: relative;top:100px;z-index: 10;"/>
              <img src="../../assets/eco1.png" style="display: block;margin-left: auto;margin-right: auto;position: relative;top:-400px;"/>
          </div>
          <div class="col-md-6" style="padding-top:170px ;padding-left:70px;">
            <h2>ARCA <span class="changeColor">PAYMENTS GATEWAY</span></h2>
              <p>Arca Payments Gateway (ArcaPG) helps optimize your digital payments. <br>Connect once and intelligently route transactions to the right service to<br>
                 support your payments strategy. Plus, with powerful tools and rich<br> 
                 reporting options to analyze transactions and keep payment details<br>
                  current, you can constantly improve your payments ROI. Bring the power
                 of payments orchestration to your business with ArcaPG</p>
                 <button class="btn btn-primarys">Visit ArcaPG</button>
          </div>
      </div>
  </div>
  