<div class="container-fluid px-5 mt-5" >
    <div class="row pt-5" style="background-color: #E3F1FF;height:650px;">
        <div class="col-md-1"></div>
        <div class="col-md-5" style="margin-top:150px;">
              <h1 style="font-family:'Montserrat';font-style:normal;font-weight:1800px !important;">Stored Value Account</h1>
              <p>SVA is an enterprise-wide payment system to help Corporates<br>
                 carry out third party disbursements of funds from their bank <br>
                 account to beneficiary(s) with different bank accounts in any of<br>
                 the 22 banks in Nigeria, in the most secure and convenient way possible.</p>
          <button class="btn btn-primary" style="border-radius:0px ;">Contact Us</button>
        </div>
        <div class="col-md-5">
          <img src="../../assets/storedvalue.png" style="width:325.42px;height:325.42px;position:relative;left:320px;top:10px"/>
          <img src="../../assets/stored-value-account1.png" style="width:325.42px;height:325.42px;position:relative;left:170px;top:-60px;"/>
          <img src="../../assets/stored-value-account2.png"style="width:325.42px;height:325.42px;position:relative;left:470px;top:-390px;"/>
        </div>
        <div class="col-md-1"></div>
    </div>
  </div>
  <div class="container mt-5 mb-5" style="padding-top: 100px;">
    <div class="row">
        <div class="col-md-6">
            <h2>WHO IS IT FOR</h2>
            <p>
                SVA is available for use for Non-Financial Institutions e.g. Public<br>
                 Institutions (Government), NGOs, Private Institutions.
            </p>
        </div>
        <div class="col-md-6">
            <h4>HOW DOES IT HELP BUSINESSES OR ENTERPRISES</h4>
            <p>It enables NFIs carry out single disbursements such as salaries,<br>
                 vendors and suppliers payment.
            </p>
        </div>
    </div>
  </div>

 