<div class="container-fluid px-5 mt-5" >
    <div class="row pt-5" style="background-color: #E3F1FF;height:650px;">
        <div class="col-md-1"></div>
        <div class="col-md-5" style="margin-top:150px;">
              <h1 style="font-family:'Montserrat';font-style:normal;font-weight:1800px !important;">Account-to-account switch(ACH)</h1>
              <p>ACH is a system that focuses on initiating either a Credit<br>
                 or Debit. It is an account number based, online real-time platform <br>
                 that helps with the delivery of transaction messages between<br>
                  participating financial institutions within seconds.</p>
          <button class="btn btn-primary" style="border-radius:0px ;">Contact Us</button>
        </div>
        <div class="col-md-5">
          <img src="../../assets/upper-body 1.png" style="width:258.3px;height:623.82px;"/>
          <img src="../../assets/upper-body 1.png" style="width:258.3px;height:623.82px;position: relative;top:-550px;left:300px"/>
        </div>
        <div class="col-md-1"></div>
    </div>
  </div>
 
  <div class="container mt-5 mb-5">
      <h2 class="mb-5"><span class="changeColor">TRANSACTION SETS</span> IN THE ACH</h2>
      <div class="row mb-3">
          <div class="col-sm-4">
              <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;">
                <div class="card-body">
                  <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                  <p class="card-text  mt-1 px-4">ACCOUINT ENQUIRY</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;">
                <div class="card-body">
                  <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                  <p class="card-text  mt-1 px-4">DEBIT CARDS</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card " style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;">
                <div class="card-body">
                  <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                  <p class="card-text mt-2 px-4">DEBIT CREDIT</p>
                </div>
              </div>
            </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-4">
            <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;">
              <div class="card-body">
                <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                <p class="card-text  mt-1 px-4">BALANCE QUERY</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;">
              <div class="card-body">
                <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                <p class="card-text  mt-1 px-4">TRANSACTION QUERY</p>
              </div>
            </div>
          </div>
    </div>
  
      <div class="container mt-5">
          <div class="row">
              <h2>WHO IS IT FOR?</h2>
              <p>ACH is available for use for Financial Institutions e.g. Commercial banks, MFBs, Finance<br>
                 houses etc
            </p>
          </div>
      </div>
       
  </div>
  