<div class="container-fluid pb-5 pt-5" style="background-color:#E4E7EC ;">
    <div class="row pb-5 pt-5">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h2 class="mt-5" style="font-family:'Montserrat';font-style:normal;font-weight:700;font-size:48px;">Discover customizable <br><span class="changeColor">payments solutions </span>for<br>
                 your everyday<span class="changeColor"> business<br>
                needs</span>
            </h2>
            <button class="btn btn-primary mt-2 mb-5" routerLink="contact-us">Contact Us</button>
        </div>
        <div class="col-md-5">
                <img src="../../assets/contact-home.png" style="width:449px;position:relative;left:80px;"/> 
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
