<div class="container-fluid pb-5 pt-5" style="background-color:#E4E7EC ;">
    <div class="row pb-5 pt-5">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <h2 style="font-family:'Montserrat';font-style:normal;font-weight:700;font-size:48px;">Discover customizable <br>payments solutions for<br>
                 your everyday business<br>
                needs
            </h2>
            <button class="btn btn-primary mt-2 mb-5">Contact Us</button>
        </div>
        <div class="col-md-5">
            <div class="hex pt-5 px-5" style="position:relative;left:250px">
                <img src="../../assets/section8-image.png" />
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
