<div class="container-fluid px-5 mt-5" >
    <div class="row pt-5" style="background-color: #E3F1FF;height:650px;">
        <div class="col-md-1"></div>
        <div class="col-md-5" style="margin-top:150px;">
              <h1 style="font-family:'Montserrat';font-style:normal;font-weight:1800px !important;">Arca POS</h1>
              <p>Our Point of Sale (POS) Solutions ensure smooth payment<br>
                 possibilities without fumbling with cash. It is the easy, fast and<br>
                  convenient solution that your organisation needs.</p>
          <button class="btn btn-primary" style="border-radius:0px ;">Learn More</button>
        </div>
        <div class="col-md-5">
          <img src="../../assets/upper-body 1.png" style="width:258.3px;height:623.82px;"/>
          <img src="../../assets/arca-pos1.png" style="width:258.3px;height:623.82px;position: relative;top:-550px;left:300px"/>
        </div>
        <div class="col-md-1"></div>
    </div>
  </div>
  <div class="container mt-5 mb-5" >
      <div class="row" style="margin-top:250px;">
          <div class="col-md-6 pt-5 pb-5" style="background-color: #9FCFFF;border-radius: 10px;">
              <img src="../../assets/arca-pos.png" style="width:233.3px;height:563.2px;display: block;margin-left: auto;margin-right: auto;"/>
          </div>
          <div class="col-md-6" style="padding-top:170px ;padding-left:70px;">
              <p>At Arca, we understand that every business is unique. That is why we have
                 built a system that provides the ideal payment experience characterised
                by speed and convenience. We provide POS systems for financial 
                institutions that have merchants. These institutions use our POS products
                 to help merchants perform transactions through our terminals.</p>
              <p>Our certified terminals include the WPOS which is also referred to as the
                 standard POS hardware and MPOS which is the Mobile POS. While the 
                 Standard POS operates as an independent system, the MPOS enables
                 smartphones and tablets to accept payments. The transaction is
                  completed through the mobile device which is connected to a card reader</p>
          </div>
      </div>
  </div>
  <div class="container mb-5">
     <h3 class="mb-3">WHO IS IT FOR?</h3>
     <p>Arca POS is available for use for Financial Institutions e.g. Commercial banks,<br>
         Microfinance banks, churches, hospitals, schools and fintechs.</p>
  </div>
  