<div class="container-fluid mt-5 mb-5 pt-5 pb-5" style="margin-bottom: 100px !important;">
    <div class="row" >
        <div class="col-md-2"></div>
        <div class="col-md-4 mt-5 pt-5" >
            <p style="font-size:14px ;margin-top: 150px;">SECURITY & ACCREDITATION</p>
            <h1 style="font-weight: bold;">Backed by recognized<br>
            global <span class="changeColor">security standards</span>
            </h1>
        </div>
        <div class="col-md-4">
            <img src="../../assets/accredite-group.png" />
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
