<div class="container-fluid mt-5 mb-5 pt-5 pb-5" style="margin-bottom: 300px !important;">
    <div class="row" >
        <div class="col-md-2"></div>
        <div class="col-md-4 mt-5 pt-5">
            <p>SECURITY & ACCREDITATION</p>
            <h3>Backed by recognized<br>
            global security standards
            </h3>
        </div>
        <div class="col-md-4">
            <img src="../../assets/section7-poly8.png" style="width:150.66px;position:absolute;left:1360px"/>
            <img src="../../assets/section7-poly8.png" style="width:150.66px;position:absolute;left:1285px;top:1985px"/>
            <img src="../../assets/section7-poly8.png" style="width:150.66px;position:absolute;left:1430px;top:1985px"/>
            <img src="../../assets/section7-poly8.png" style="width:150.66px;position:absolute;left:1356px;top:2104px;"/>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
