<div class="container-fluid mt-5 pt-4" style="background-color:#E3F1FF ;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <h1 class="mt-5" style="font-weight:bold ;font-size: 48px;">Card management</h1>
            <p style="font-size:20px ;" class="mt-4">Arca’s card management solutions provide options that enable efficient card and <br>
                transaction management, built on a secure infrastructure. Whether you operate as a <br>
                Financial Institution (FI) or a Non-Financial Institution (NFI), our solutions are built to be <br>
                simple and adaptable, giving greater control over your transactions so you can focus on <br>
                delivering high-value services in your field.
            </p>
            <button  class="btn btn-primary btn-lg mb-5" style="border-radius:0px;">Find Out More</button>

            <img src="../../assets/card-mgt.png" style="width:443px;position: relative;left:160px;height: fit-content;" />
            <img src="../../assets/card-mgt3.png" style="position: relative;top:-520px;left:630px;width:443px;height: fit-content;" />
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="container-fluid mb-5 text-center pt-5 pb-5" style="background-color: #006BD6;color:#fff;position: relative;top:-530px;">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            From card issuing to personalised card-branding solutions, our system is<br>
            developed to provide futuristic solutions with a flexible range of accepted
            issuers and acquirers. We bring together everything that is required to 
              allow easy payment services for ambitious institutions.
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<div class="container mb-5">
    <div class="row">
        <div class="col-md-6" style="padding-top:150px ;">
            <h3>CARD <span class="changeColor">ISSUING</span></h3>
            <p>
                Our card management service includes Issuer Processing solutions for <br>
                banks and fintech institutions. We issue cards as a product to your <br>
                customers (cardholders).
            </p>
            <p>
                This service enables fintech institutions and banks to deliver functionality<br>
                 while ensuring ease of business to the cardholder. Even better? These <br>
                 cards can become a signature branding tool for your institution. Our <br>
                 service includes personalised card branding with your institutions’ <br>
                 preferred logo.We adapt our technology to meet your needs. More <br>
                 importantly, we help you deliver great services to your cardholders.
            </p>
        </div>
        <div class="col-md-6">
            <div class="card" style="background-color:#E3F1FF;padding:50px 150px;border-radius:15px;border-width:0px;">
                <img src="../../assets/card-mgt4.png" />
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5 pb-5 pt-3" style="background-color: #E3F1FF;">
    <div class="row mt-5">
        <div class="col-md-1"></div>
        <div class="col-md-3" style="height:fit-content;">
            <p style="margin-top:200px;">
                Arca stored value cards enable financial<br>
                 institutions and merchants to issue<br>
                  physical and virtual cards in multiple<br>
                   currencies including Naira and Dollar. Our <br>
                   prepaid card solution includes programs<br>
                    such as card tokenization, transaction <br>
                    processing and clearing, real-time <br>
                    settlements, and contactless payments.
            </p>
        </div>
        <div class="col-md-4 text-center" style="height:700px;">
            <h3><span class="changeColor">STORED VALUE</span> CARD</h3>
            <p>Arca’s stored value card is a prepaid card issuance service open to financial institutions and commercial banks. Our prepaid cards provide cardholders with a secure alternative to cash payments.</p>
            <img src="../../assets/card-mgt5.png" style="width:337.1px;"/>
            <img src="../../assets/card-mgt6.png" style="position: relative;top:-410px;left:200px;width:236.03px;"/>
        </div>
        <div class="col-md-3" style="height:fit-content ;">
            <p style="margin-top: 200px;">We offer fintechs and banks the ability to<br>
             rebrand Arca’s stored value cards with their<br> logos and company information.</p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>