

<div class="container mb-5 mt-5">
    <div class="row text-center">
        <h3>Our Products & Services</h3>
        <p>Our products & services are designed to cover payments from end to end</p>
        <div class="col-md-4"></div>
        <div class="col-md-4" >
        <button class="btn btn-primary mx-3" style="border-radius: 0px ;" >Products</button>
        <button class="btn btn-primary" style="border-radius: 0px ;">Services</button>
        </div>
        <div class="col-md-4"></div>
        
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row text-center">
        <h3 class="mb-5" style="font-weight: bold;">PRODUCTS</h3>
        <div class="col-md-4">
            <div class="card" style="background-color:#E3F1FF;">
                <div class="text-center">
                    <img src="../../assets/terminalmgt.png" class="img img-fluid mt-5 mb-4" style="width:30%;margin:auto;display: block;;"/>
                </div>
                <div class="card-body">
                    <h5 style="font-weight:bold;">TERMINAL MANAGEMENT SYSTEM</h5>
                    <P style="font-size:14px ;" class="">Arca TMS is a Terminal Management System <br>(TMS) that manage POS terminals, provide<br>
                        monitoring and analytics for both ARCA Payments and its customers</P>
                    <button class="btn btn-primary mb-5 mt-2">Learn More</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="background-color:#E3F1FF;">
                <div class="text-center">
                    <img src="../../assets/debit-card.png" class="img img-fluid mt-5 mb-4" style="width:30%;margin:auto;display: block;;"/>
                </div>
                <div class="card-body">
                    <h5 style="font-weight:bold;">CARD MANAGEMENT</h5>
                    <P style="font-size:14px;" class="">Arca’s card management solutions provide<br>
                        options that enable efficient card and transaction management, built on a secure infrastructure.</P>
                    <button class="btn btn-primary mb-5 mt-4">Learn More</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="background-color:#E3F1FF;">
                <div class="text-center">
                    <img src="../../assets/terminalmgt.png" class="img img-fluid mt-5 mb-4" style="width:30%;margin:auto;display: block;;"/>
                </div>
                <div class="card-body">
                    <h5 style="font-weight:bold;">PAYMENT GATEWAY</h5>
                    <P style="font-size:14px ;" class="">Leverage our trusted platform and benefit from <br>
                        a global offer for all your sales channels for <br>
                        both local and international transactions.</P>
                    <button class="btn btn-primary mb-5 mt-4">Learn More</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center mt-5">
        <div class="col-md-4">
            <div class="card" style="background-color:#E3F1FF;">
                <div class="text-center">
                    <img src="../../assets/account.png" class="img img-fluid mt-5 mb-4" style="width:30%;margin:auto;display: block;;"/>
                </div>
                <div class="card-body">
                    <h5 style="font-weight:bold;">STORED VALUE ACCOUNT</h5>
                    <P style="font-size:14px ;" class="">SVA is an enterprise-wide payment system to<br>
                         help Corporates carry out third party<br>
                          disbursements of funds from their bank account to beneficiary(s) with different bank <br>
                           accounts in any of the 22 banks in Nigeria,</P>
                    <button class="btn btn-primary mb-5 mt-2">Learn More</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="background-color:#E3F1FF;">
                <div class="text-center">
                    <img src="../../assets/switch.png" class="img img-fluid mt-5 mb-4" style="width:30%;margin:auto;display: block;;"/>
                </div>
                <div class="card-body">
                    <h5 style="font-weight:bold;">ACCOUNT TO ACCOUNT SWITCH</h5>
                    <P style="font-size:14px;" class="">It is an account number based, online real-time<br> 
                        platform that helps with the delivery of <br>
                        transaction messages between participating<br>
                         financial institutions within seconds.</P>
                    <button class="btn btn-primary mb-5 mt-4">Learn More</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="background-color:#E3F1FF;">
                <div class="text-center">
                    <img src="../../assets/pos.png" class="img img-fluid mt-5 mb-4" style="width:30%;margin:auto;display: block;;"/>
                </div>
                <div class="card-body">
                    <h5 style="font-weight:bold;">ARCA POS</h5>
                    <P style="font-size:14px ;" class="">Our Point of Sale (POS) Solutions ensure<br>
                         smooth payment possibilities without<br>
                          fumbling with cash. It is the easy, fast and <br>
                          convenient solution that your organisation needs.</P>
                    <button class="btn btn-primary mb-5 mt-4">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container-fluid  mt-5 pt-5 pb-5" style="background-color: #E3F1FF;">
    <div class="row">
        <h3 class="text-center underline mb-4">SERVICES</h3>
		<div class="col-sm-12">
			<div id="inam" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						 <div class="container">
						 	<div class="row">
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px;margin: auto;">
						 				<div class="card-body">
						 					<h4 class="card-title">Why you should use skin masks ?</h4>
						 					<p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
						 					<button type="button" class="btn btn-warning">Read More</button>
						 					
						 				</div>
						 				
						 			</div>
						 			
						 		</div>
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px;">
						 				<img src="images/b.jpg" class="card-img-top">
						 				<div class="card-body">
						 					<h4 class="card-title">Why you should use skin masks ?</h4>
						 					<p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
						 					<button type="button" class="btn btn-warning">Read More</button>
						 					
						 				</div>
						 				
						 			</div>
						 			
						 		</div>
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px;">
						 				<img src="images/c.jpg" class="card-img-top">
						 				<div class="card-body">
						 					<h4 class="card-title">Why you should use skin masks ?</h4>
						 					<p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
						 					<button type="button" class="btn btn-warning">Read More</button>
						 					
						 				</div>
						 				
						 			</div>
						 			
						 		</div>
						 		
						 	</div>
						 	
						 </div>

						
					</div>
					<div class="carousel-item">
						 <div class="container">
						 	<div class="row">
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px;margin: auto;">
						 				<img src="images/d.jpg" class="card-img-top">
						 				<div class="card-body">
						 					<h4 class="card-title">Why you should use skin masks ?</h4>
						 					<p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
						 					<button type="button" class="btn btn-warning">Read More</button>
						 					
						 				</div>
						 				
						 			</div>
						 			
						 		</div>
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px;">
						 				<img src="images/e.jpg" class="card-img-top">
						 				<div class="card-body">
						 					<h4 class="card-title">Why you should use skin masks ?</h4>
						 					<p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
						 					<button type="button" class="btn btn-warning">Read More</button>
						 					
						 				</div>
						 				
						 			</div>
						 			
						 		</div>
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px;">
						 				<img src="images/f.jpg" class="card-img-top">
						 				<div class="card-body">
						 					<h4 class="card-title">Why you should use skin masks ?</h4>
						 					<p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
						 					<button type="button" class="btn btn-warning">Read More</button>
						 					
						 				</div>
						 				
						 			</div>
						 			
						 		</div>
						 		
						 	</div>
						 	
						 </div>

						
					</div>
					
				</div>
				<a href="#inam" class="carousel-control-prev" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a href="#inam" class="carousel-control-next" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>
				
			</div>
			
		</div>
		
	</div>

</div>

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <div class="card" style="width: 300px;margin: auto;">
            <img src="images/d.jpg" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">Why you should use skin masks ?</h4>
                <p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
                <button type="button" class="btn btn-warning">Read More</button>
                
            </div>
            
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="card" style="width: 300px;margin: auto;">
            <img src="images/d.jpg" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">Why you should use skin masks ?</h4>
                <p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
                <button type="button" class="btn btn-warning">Read More</button>
                
            </div>
            
        </div>
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
