<style>
    .hex{
        background-color: #0D86FF;
    }
    
    .hex img {
  position: absolute;
  top: 5px; /* equal to border thickness */
  left: 5px; /* equal to border thickness */
  width: 231px;
  height: 256px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 25%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
</style>
<div class="container mb-5 mt-5">
    <div class="row">
        <h3 class="text-center">Our Awesome <br><span class="changeColor" style="font-weight:bold ;">Management Team</span></h3>

        <div class="col-md-3">
            <section class="hexagon-gallery">
                <div class="hex" ><img src="../../assets/evc.jpg" alt="some" class="img img-fluid"   ></div>
              </section>
              <div class="text-center mt-4" style="margin-right:20px;">
                <h5 style="font-weight:bold ;">Dare Owolabi</h5>
                <p class="muted" style="font-size: 13px;">EVC/CEO</p>
              </div>
        </div>
        <div class="col-md-3">
            <section class="hexagon-gallery">
                <div class="hex" style="padding:10px;"><img src="../../assets/financialServices.jpg" alt="some"></div>  
              </section>
              <div class="text-center mt-4" style="margin-right:20px;">
                <h5 style="font-weight:bold ;">Goke Salami</h5>
                <p class="muted" style="font-size: 13px;">Head,Financial Services institutions</p>
              </div>
        </div>
        <div class="col-md-3">
            <section class="hexagon-gallery">
                <div class="hex"><img src="../../assets/technology.jpg" alt="some"></div>
              </section>
              <div class="text-center mt-4" style="margin-right:20px;">
                <h5 style="font-weight:bold ;">Francis Ibok</h5>
                <p class="muted" style="font-size: 13px;">Headd,Technology(Business Enablement)</p>
              </div>
        </div>
        <div class="col-md-3">
            <section class="hexagon-gallery">
                <div class="hex"><img src="../../assets/businessOperations.jpg" alt="some"></div>
              </section>
              <div class="text-center mt-4" style="margin-right:20px;">
                <h5 style="font-weight:bold ;">Akindele Akinpelu</h5>
                <p class="muted" style="font-size: 13px;">Head,Business Operations</p>
              </div>
        </div>
       
    </div>
    <div class="row">
        <div class="col-md-3">
            <section class="hexagon-gallery">
                <div class="hex"><img src="../../assets/growth.jpg" alt="some"></div>
              </section>
              <div class="text-center mt-4" style="margin-right:20px;">
                <h5 style="font-weight:bold ;">Bukola Akinsanya</h5>
                <p class="muted" style="font-size: 13px;">Head, Growth and Marketing</p>
              </div>
        </div>
        <div class="col-md-3">
            <section class="hexagon-gallery">
                <div class="hex"><img src="../../assets/products.jpg" alt="some"></div>
              </section>
              <div class="text-center mt-4" style="margin-right:20px;">
                <h5 style="font-weight:bold ;">Omotayo Jolaoye</h5>
                <p class="muted" style="font-size: 13px;">Head,Products and Strategy</p>
              </div>
        </div>
        <div class="col-md-3">
            <section class="hexagon-gallery">
                <div class="hex"><img src="../../assets/risk.jpg" alt="some"></div>  
              </section>
              <div class="text-center mt-4" style="margin-right:20px;">
                <h5 style="font-weight:bold ;">Segun Adetunji</h5>
                <p class="muted" style="font-size: 13px;">Head,Risk and Compliance</p>
              </div>
        </div>
        <div class="col-md-3">
           
        </div>
       
    </div>
</div>