<div class="container-fluid px-5 mt-5" >
    <div class="row pt-5" style="background-color: #E3F1FF;height:650px;">
        <div class="col-md-1"></div>
        <div class="col-md-5" style="margin-top:150px;">
              <h1 style="font-family:'Montserrat';font-style:normal;font-weight:bold !important;">Arca payment gateway(Arca PG)</h1>
              <p>Effectively streamlined for your business and all your online<br>
                payment needs. Leverage our trusted platform and benefit from <br>
                a global offer for all your sales channels for both local and<br> international transactions.  </p>
          <button class="btn btn-primary" style="border-radius:0px ;">Visit ArcaPG</button>
        </div>
        <div class="col-md-5">
          <img src="../../assets/upper-body 1.png" style="width:258.3px;height:623.82px;"/>
          <img src="../../assets/upper-body 1.png" style="width:258.3px;height:623.82px;position: relative;top:-550px;left:300px"/>
        </div>
        <div class="col-md-1"></div>
    </div>
  </div>
  
  <div class="container mt-5  mb-5 py-5">
      <h2>FEATURES:</h2>
      <div class="row mb-3">
          <div class="col-sm-4">
              <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius:0px;border-width: 1px 0px 0px 0px;">
                <div class="card-body">
                  <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                  <p class="card-text  mt-1 px-4">GLOBAL ACQUIRING</p>
                  <p style="font-size:10px ;" class="mx-3">process and accept card transactions from all over the world</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 1px 0px 0px 0px;">
                <div class="card-body">
                  <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                  <p class="card-text  mt-1 px-4">FRAUD CONTROL</p>
                  <p style="font-size:10px ;" class="mx-3">secure merchant transactions consciously</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card " style="border-color:#006BD6;background-color: #f2f4f7;border-radius:0px;border-width: 1px 0px 0px 0px;">
                <div class="card-body">
                  <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                  <p class="card-text px-4">PAYMENT MONITORING</p>
                  <P style="font-size:10px ;" class="mx-3" >monitor your transactions in real-time</P>
                </div>
              </div>
            </div>    
      </div>
      <div class="row mb-3">
        <div class="col-sm-4">
            <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius:0px;border-width: 1px 0px 0px 0px;">
              <div class="card-body">
                <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                <p class="card-text  mt-1 px-4">SMART ROUTING</p>
                <p style="font-size:10px ;" class="mx-3">multiple routing options to ensure max uptime</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 1px 0px 0px 0px;">
              <div class="card-body">
                <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                <p class="card-text  mt-1 px-4">MULTIPLE PAYMENT METHODS</p>
                <p style="font-size:10px ;" class="mx-3">cards, direct bank transfer, USSD, etc.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card " style="border-color:#006BD6;background-color: #f2f4f7;border-radius:0px;border-width: 1px 0px 0px 0px;">
              <div class="card-body">
                <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                <p class="card-text px-4">MULTI-CURRENCY SUPPORT</p>
                <P style="font-size:10px ;" class="mx-3" >collect money from customers in many currencies.</P>
              </div>
            </div>
          </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-4">
            <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius:0px;border-width: 1px 0px 0px 0px;">
              <div class="card-body">
                <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                <p class="card-text  mt-1 px-4">NO-CODE CAPABILITY</p>
                <p style="font-size:10px ;" class="mx-3">enjoy platform features with zero coding skills</p>
              </div>
            </div>
          </div>
    </div>
  </div>

  <div class="container mt-5 mb-5">
      <div class="row">
        <h1 class="mb-5"><span class="changeColor">PAYMENT</span> OPTIONS</h1>
        <div class="col-sm-3">
            <div class="card" style="border-color:#C5E2FF;background-color: #f2f4f7;border-radius:2px;">
              <div class="card-body">
                <img src="../../assets/card.png" style="width:76px;height:76px;float:left;" class="mx-2" />
                <p class="card-text  mt-4 px-4" style="font-size:16px ;">CARD</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card" style="border-color:#C5E2FF;background-color: #f2f4f7;border-radius:2px;">
              <div class="card-body">
                <img src="../../assets/bank-transfer.png" style="width:76px;height:76px;float:left;" class="mx-2" />
                <p class="card-text  mt-4 px-4" style="font-size:16px ;">BANK TRANSFER</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card" style="border-color:#C5E2FF;background-color: #f2f4f7;border-radius:2px;">
              <div class="card-body">
                <img src="../../assets/bank-account.png" style="width:76px;height:76px;float:left;" class="mx-2" />
                <p class="card-text  mt-4 px-4" style="font-size:16px ;">BANK ACCOUNT</p>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="card" style="border-color:#C5E2FF;background-color: #f2f4f7;border-radius:2px;">
              <div class="card-body">
                <img src="../../assets/usssd.png" style="width:76px;height:76px;float:left;" class="mx-2" />
                <p class="card-text  mt-4 px-4" style="font-size:16px ;">USSD</p>
              </div>
            </div>
          </div>


          <div class="col-sm-3 mt-5">
            <div class="card" style="border-color:#C5E2FF;background-color: #f2f4f7;border-radius:2px;">
              <div class="card-body">
                <img src="../../assets/qr.png" style="width:76px;height:76px;float:left;" class="mx-2" />
                <p class="card-text  mt-4 px-4" style="font-size:16px ;">QR</p>
              </div>
            </div>
          </div>

      </div>
  </div>
  