<div class="container-fluid" style="background-color: #E3F1FF;">
    <div class="row mt-5">
        <div class="col-md-1"></div>
        <div class="col-md-10 mt-5 mb-5">
            <p>PRODUCTS & SERVICES</p>
            <h1 style="margin-top: -20px;font-weight:bold;">Tailored to meet your <span class="changeColor">business <br>needs</span></h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 28rem;border-width:0px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h5 style="font-weight: bold;">Terminal management system</h5>
                                    <p class="card-text" >Arca TMS is a Terminal Management System (TMS)
                                     that manage POS terminals, provide monitoring and
                                      analytics</p>
                                      <button class="btn btn-primary mb-5" >Find Out More</button>
                                    </div>
                                    <div class="col-md-4 mt-5" >
                                        <img src="../../assets/terminal-icon.png"  />
                                    </div>
                            </div>  
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 28rem;border-width:0px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h5 style="font-weight: bold;">Card management</h5>
                                    <p class="card-text" >Arca’s card management solutions provide options that enable efficient 
                                        card and transaction management, built on a secure infrastructure.</p>
                                      <button class="btn btn-primary mb-5" >Find Out More</button>
                                    </div>
                                    <div class="col-md-4 mt-5" >
                                        <img src="../../assets/debitcard-icon.png"  />
                                    </div>
                            </div>  
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 28rem;border-width:0px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h5 style="font-weight: bold;">Terminal management system</h5>
                                    <p class="card-text" >Arca TMS is a Terminal Management System (TMS)
                                     that manage POS terminals, provide monitoring and
                                      analytics</p>
                                      <button class="btn btn-primary mb-5" >Find Out More</button>
                                    </div>
                                    <div class="col-md-4 mt-5" >
                                        <img src="../../assets/terminal-icon.png"  />
                                    </div>
                            </div>  
                        </div>
                      </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
