<div class="container">
    <h5 class="text-center mt-5" style="font-size:14px;font-weight:500;">TESTED & TRUSTED BY</h5>
    <div class="row mb-5 mt-2 pt-5">
        <div class="col-md-2" style="display:flex;justify-content:center;">
            <img src="../../assets/access.png"  class="img-fluid" style="width:160px;height: 40px;"/>
        </div>
        <div class="col-md-2" style="display:flex;justify-content:center;">
            <img src="../../assets/wema.png"  class="img-fluid" style="width:80px;height: 45px;"/>
        </div>
        <div class="col-md-2" style="display:flex;justify-content:center;">
            <img src="../../assets/flutterwave.png"  class="img-fluid" style="width:170px;height: 30px;margin-top: 15px;"/>
        </div>
        <div class="col-md-2" style="display:flex;justify-content:center;">
            <img src="../../assets/gtbank.png"  class="img-fluid" style="width:75px;height: 70px;"/>
        </div>
        <div class="col-md-2" style="display:flex;justify-content:center;">
            <img src="../../assets/fairmoney.png"  class="img-fluid" style="width:120px;height: 20px;margin-top:17px;"/>
        </div>
        <div class="col-md-2" style="display:flex;justify-content:center;">
            <img src="../../assets/providus.png"  class="img-fluid" style="width:95px;height: 40px;"/>
        </div>
       
    </div>
</div>


