<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" style="background-color:#E3F1FF;height:514px;position: relative;top:60px">
            <img src="../../assets/section2-1.png" style="width:449px;position: relative;top:0px;left:100px"/>
        </div>
        <div class="col-md-4" style="background-color:blue;height: 573px;">
            <img src="../../assets/section2-2.png" style="width:265px;position: relative;left:160px;top:66px"/>
        </div>
        <div class="col-md-4" style="background-color:#E3F1FF;height: 514px;position: relative;top:60px;">
            <img src="../../assets/section2-3.png" style="width:631pxpx;" />
        </div>
    </div>
</div>
