<div class="container-fluid px-5 mt-5 mb-5" >
    <div class="row pt-5" style="background-color: #E3F1FF;height:650px;">
        <div class="col-md-1"></div>
        <div class="col-md-5" style="margin-top:150px;">
              <h1 style="font-family:'Montserrat';font-style:normal;font-weight:bold !important;">Terminal Management<br> System</h1>
              <p>‍Arca TMS is a Terminal Management System (TMS) that manage<br>
                 POS terminals, provide monitoring and analytics for both ARCA<br>
                 Payments and its customers (merchants and acquirers) and also<br>
                 provide a report engine menu where acquirer and merchant can<br>
                have access to transactions that originated from their terminals.</p>
          <button class="btn btn-primary" style="border-radius:0px ;">Contact Us</button>
        </div>
        <div class="col-md-5">
          <img src="../../assets/upper-body 1.png" style="width:258.3px;height:623.82px;"/>
          <img src="../../assets/terminal-mgt1.png" style="width:258.3px;height:623.82px;position: relative;top:-550px;left:300px"/>
        </div>
        <div class="col-md-1"></div>
    </div>
  </div>
 
  <div class="container mt-5 mb-5" style="margin-top:150px;padding-top: 50px;">
      <h2 class="mt-5"><span class="changeColor">SERVICES</span> IN THE TMS</h2>
      <div class="row mb-3 mt-5">
          <div class="col-sm-4">
              <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 1px 0px 0px 0px;">
                <div class="card-body">
                  <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                  <p class="card-text  mt-1 px-4">AUTHORIZATION API</p>
                  <p style="font-size:10px ;" class="mx-3">For issuing and verifying the identity of the users.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 1px 0px 0px 0px;">
                <div class="card-body">
                  <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                  <p class="card-text  mt-1 px-4">USER MANAGEMENT API</p>
                  <p style="font-size:10px ;" class="mx-3">Used to create and manage all information around user</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card " style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 1px 0px 0px 0px;">
                <div class="card-body">
                  <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                  <p class="card-text mt-1 px-4">ACQUIRER MANAGEMENT API</p>
                  <p style="font-size:10px ;" class="mx-3">Manages all information around acquirers</p>
                </div>
              </div>
            </div>
      </div>


      <div class="row mb-3 mt-5">
        <div class="col-sm-4">
            <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 1px 0px 0px 0px;">
              <div class="card-body">
                <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                <p class="card-text  mt-1 px-4">TRANSACTION SERVICE API</p>
                <p style="font-size:10px ;" class="mx-3">Captures enhanced payment data pushed from each terminal and write to a database for logging</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 1px 0px 0px 0px;">
              <div class="card-body">
                <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                <p class="card-text  mt-1 px-4">TERMINAL MANAGEMENT API</p>
                <p style="font-size:10px;" class="mx-3">Manages all information around POS terminals</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card " style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 1px 0px 0px 0px;">
              <div class="card-body">
                <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                <p class="card-text mt-1 px-4">MERCHANT MANAGEMENT API</p>
                <p style="font-size:10px ;" class="mx-3">Manages all information around merchants</p>
              </div>
            </div>
          </div>
    </div>

    <div class="row mb-3 mt-5">
        <div class="col-sm-4">
            <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 1px 0px 0px 0px;">
              <div class="card-body">
                <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                <p class="card-text  mt-1 px-4">DEVICE MONITORING</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 1px 0px 0px 0px;">
              <div class="card-body">
                <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                <p class="card-text  mt-1 px-4">REMOTE DEVICE OPERATIONS</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card " style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 1px 0px 0px 0px;">
              <div class="card-body">
                <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                <p class="card-text mt-1 px-4">TRANSACTIONAL E-JOURNALING</p>
              </div>
            </div>
          </div>
    </div>
  </div>

  <div class="container mb-5">
      <div class="row">
          <h3 class="mb-3">WHO IS IT FOR?</h3>
          <p>TMS is available for use for Acquirers, Merchants and Arca Payments</p>
      </div>
  </div>
  