<div class="container-fluid px-5 mt-5 mb-5" >
    <div class="row pt-5 mb-5" style="background-color: #E3F1FF;height:650px;">
        <div class="col-md-1"></div>
        <div class="col-md-5" style="margin-top:150px;">
              <h1 style="font-family:'Montserrat';font-style:normal;font-weight:1800px !important;">Payment terminal service <br>provider (PTSP)</h1>
              <p>ARCA PTSP comprises of different aspects which are: POS <br>hardware, POS SDK, and Arca POS app. 
                  Arca configures,<br> deploys and maintains POS terminals for Financial Institutions.<br>
                  Arca has also been able to build a terminal application to allow <br>merchant accept payment via cash, card, etc. 
                  on an android<br> powered POS terminal and Linux terminals.</p>
          <button class="btn btn-primary" style="border-radius:0px ;">Contact Us</button>
        </div>
        <div class="col-md-5">
          <img src="../../assets/ptsp1.png" style="width:258.3px;height:623.82px;"/>
          <img src="../../assets/ptsp2.png" style="width:258.3px;height:623.82px;position: relative;top:-550px;left:300px"/>
        </div>
        <div class="col-md-1"></div>
    </div>
  </div>
  
  <div class="container mt-5">
      <div class="row mb-3 mt-5">
        <h2 class="mt-5 mb-3"><span class="changeColor">SERVICES</span> IN PTSP:</h2>
          <div class="col-sm-6">
              <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 2px 0px 0px 0px;">
                <div class="card-body">
                  <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                  <p class="card-text  mt-1 px-4">Android and Linux version</p>
                  <p style="font-size:10px ;" class="mx-3">a terminal app to allow a merchant accept payment via cash, card, USSD<br>
                     and QR Codes to support normal merchants’ operation</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 2px 0px 0px 0px;">
                <div class="card-body">
                  <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                  <p class="card-text  mt-1 px-4">Software Development Kit (SDK)</p>
                  <p style="font-size:10px ;" class="mx-3">with our SDK device rendering, partnered with the POS terminals per<br>
                    product, we have simplified the payment process for third parties who may <br>
                    require a plug-in into these services to perform card transactions.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 mt-3">
                <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 2px 0px 0px 0px;">
                  <div class="card-body">
                    <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                    <p class="card-text  mt-1 px-4">SPECIALIZED COLLECTION SERVICES OPERATIONS</p>
                    <p style="font-size:10px ;" class="mx-3">a customized app to suit the needs of certain merchants eg. Hospitals, <br>
                        churches, schools etc</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 mt-3">
                <div class="card" style="border-color:#006BD6;background-color: #f2f4f7;border-radius: 0px;border-width: 2px 0px 0px 0px;">
                  <div class="card-body">
                    <img src="../../assets/Vector.png" style="width:27.99px;height:27.99px;float:left;" class="mx-2" />
                    <p class="card-text  mt-1 px-4">CASH OUT AND CASH IN OPERATIONS</p>
                    <p style="font-size:10px ;" class="mx-3">addresses Super Agents’, need to route Cash-in and Cash-out transactions<br>
                         through Arca switching infrastructure</p>
                  </div>
                </div>
              </div>
      </div>
  
   <div class="row mt-5 mb-5">
       <h6 >WHO IS IT FOR</h6>
       <p>Arca POS is available for use for Financial Institutions e.g. Commercial banks,<br>
         Microfinance banks, churches, hospitals, schools and fintechs.</p>
   </div>
       
  </div>
  